name: CI

on:
  push:
    branches: [main]
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "poetry"
          cache-dependency-path: poetry.lock

      - name: Install Poetry
        run: pip install poetry

      - name: Install dependencies
        run: poetry install --extras playwright

      - name: Run tests
        run: poetry run pytest
